/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  background-color: rgba(17, 17, 17, 0.7); /* #111 opacity 70% */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: left;
}

.img-carousel img {
  position: absolute;
  min-height: 100%;
  max-width: none;
  display: block;
  width: 1920px;
  left: 50%;
  top: -50%;
  margin-left: -960px;
  vertical-align: bottom;
}

.carousel-caption img {
    max-width: 100%;
    max-height: 100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p,
  .carousel-caption h2 {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}


/* Shrink the carousel for smaller screens */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .carousel {
	height: 430px;
	margin-bottom: none;
    }
    
    .item {
	height: 430px;
    }
    
    body {
	padding-bottom: 20px;
    }

    .hidden-on-mobile  * {
	visibility: visbile;
    }
}

/* Unshrink for larger screens */
@media only screen and (min-width: 480px) {
    .carousel {                
        height: 500px;         
        margin-bottom: 60px;   
    }                          
    
    .item {
	height: 500px;
    }
    
    .caroursel .item {         
        height: 500px;         
    }   
                       
    .featurette-heading {
	margin-top: 120px;
    }

    body {
	margin-bottom: 0px;
    }

    .hidden-on-mobile  * { 
        visibility: collapse;
    }
}

}
