<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
                <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
			<a class="brand" href="{{ site.url }}/">{% picture icon logo(2013)-white-transparent.png %}TinkerSoc</a>
                        <div class="nav-collapse collapse">
                                <ul class="nav">
					<!-- HOME -->
					{% if page.title == "Home" %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="{{ site.url }}/">Home</a></li>

					<!-- Blog -->
					{% if page.title == "Blog" %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
                                        <a href="{{ site.url }}/blog">Blog</a></li>


					<!-- Blog -->
					{% if page.title == "Calendar" %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
                                        <a href="{{ site.url }}/calendar.html">Calendar</a></li>
					<!-- About -->
					{% if page.title == "About" %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
                                        <a href="{{ site.url }}/about.html">About</a></li>

					<!-- Sponsors -->
					{% if page.title == "Sponsors" %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
                                        <a href="{{ site.url }}/sponsors.html">Sponsors</a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ site.url }}/resources/constitution.html">Constitution</a></li>
						  <li><a href="#">Another action</a></li>
						  <li><a href="#">Something else here</a></li>
						  <li class="divider"></li>
						  <li class="nav-header">Nav header</li>
						  <li><a href="#">Separated link</a></li>
						  <li><a href="#">One more separated link</a></li>
						</ul>
				      </li>
				</ul>
				<div class="navbar-form btn-group pull-right">
					<button class="btn" onclick="location.href='{{ site.url }}/joinus.html'">Join Us!</button>
				</div>
                        </div><!--/.nav-collapse -->
                </div>
        </div>
</div> 
