 <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="{{ site.url }}/">{%picture icon logo(2013)-white-transparent-notext.png%}{{ site.brandname }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
					{% sorted_for p in site.pages sort_by:weight %}{%comment%}
						{% endcomment%}{% if p.weight == 0 %}{% comment %}
						{% endcomment %}{% else %} {%comment%}
						{% endcomment %}{% capture d %}{{ p.url | dir }}{% endcapture %}{% comment %}
						{% endcomment %}{% capture f %}{{ p.url | basename }}{% endcapture %}{% comment %}
						{% endcomment %}{% if d == "/" or (f == "index.html" and (site.menufolders contains d)) %}{%comment%}
								{%endcomment%}{% if page.title == p.title %}{%comment%}
								{%endcomment%}<li class="active">{%comment%}
								{%endcomment%}{% else %}{%comment%}
								{%endcomment%}<li>{%comment%}
								{%endcomment%}{% endif %}{%comment%}
								{%endcomment%}<a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a></li>{%comment%}
							{%endcomment%}{% endif %}{%comment%}
						{%endcomment%}{% endif %}{%comment%}
					{% endcomment %}{% endsorted_for %}{%comment%}}
					{%endcomment%}{% for dropdown in site.dropdowns %}{%comment%}
			{%endcomment%}<li class="dropdown">{%comment%}
			{%endcomment%}<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ dropdown }}<b class="caret"></b></a>{%comment%}
			{%endcomment%}<ul class="dropdown-menu">{%comment%}
					{%endcomment%}{% sorted_for p in site.pages sort_by:weight %}{%comment%}
						{%endcomment%}{% if p.weight == 0 %}{% else %}{%comment%}
						{%endcomment%}{% capture d %}{{ p.url | dir }}{% endcapture %}{%comment%}
							{%endcomment%}{% capture f %}{{ p.url | basename }}{% endcapture %}{%comment%}
							{%endcomment%}{% capture dl %}/{{ dropdown | downcase }}{% endcapture %}{%comment%}
							{%endcomment%}{% if d == dl %} <li> <a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a></li> {% endif %}{%comment%}
						{%endcomment%}{% endif %}{%comment%}
					{%endcomment%}{% endsorted_for %}{%comment%}
			{%endcomment%}</ul>
		</li>
		{% endfor %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>


				

