 <body>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="{{ site.url }}/">{%picture icon logo(2013)-white-transparent-notext.png%}{{ site.brandname }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
					{% sorted_for p in site.pages sort_by:weight %}{%comment%}
						{% endcomment%}{% if p.weight == 0 %}{% comment %}
						{% endcomment %}{% else %} {%comment%}
						{% endcomment %}{% capture d %}{{ p.url | dir }}{% endcapture %}{% comment %}
						{% endcomment %}{% capture f %}{{ p.url | basename }}{% endcapture %}{% comment %}
						{% endcomment %}{% if d == "/" or (f == "index.html" and (site.menufolders contains d)) %}{%comment%}
								{%endcomment%}{% if page.title == p.title %}{%comment%}
								{%endcomment%}<li class="active">{%comment%}
								{%endcomment%}{% else %}{%comment%}
								{%endcomment%}<li>{%comment%}
								{%endcomment%}{% endif %}{%comment%}
								{%endcomment%}<a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a></li>{%comment%}
							{%endcomment%}{% endif %}{%comment%}
						{%endcomment%}{% endif %}{%comment%}
					{% endcomment %}{% endsorted_for %}{%comment%}}
					{%endcomment%}{% for dropdown in site.dropdowns %}{%comment%}
			{%endcomment%}<li class="dropdown">{%comment%}
			{%endcomment%}<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ dropdown }}<b class="caret"></b></a>{%comment%}
			{%endcomment%}<ul class="dropdown-menu">{%comment%}
					{%endcomment%}{% sorted_for p in site.pages sort_by:weight %}{%comment%}
						{%endcomment%}{% if p.weight == 0 %}{% else %}{%comment%}
						{%endcomment%}{% capture d %}{{ p.url | dir }}{% endcapture %}{%comment%}
							{%endcomment%}{% capture f %}{{ p.url | basename }}{% endcapture %}{%comment%}
							{%endcomment%}{% capture dl %}/{{ dropdown | downcase }}{% endcapture %}{%comment%}
							{%endcomment%}{% if d == dl %} <li> <a href="{{ site.url }}{{ p.url}}">{{ p.title }}</a></li> {% endif %}{%comment%}
						{%endcomment%}{% endif %}{%comment%}
					{%endcomment%}{% endsorted_for %}{%comment%}
			{%endcomment%}</ul>
		</li>
		{% endfor %}
          </ul>
          <div class="navbar-form navbar-right">
			  <button class="btn btn-success" onclick="location.href='{{site.url}}/joinus.html'">Join Us!</button>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>


				

