<!--<link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
</style>
<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.url }}/css/main.css">

<script src="http://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="{{site.url}}/js/picturefill.js"></script>
