   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/assets/js/masonry.pkgd.min.js"></script>
    <script src="{{ site.url }}/assets/js/picturefill.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.gcal_flow.js"></script>
    {% for js in page.postload %}
    <script src="{{ site.url }}/assets/js/{{ js }}"></script>
    {%endfor%}
<script type="text/javascript">
  $('#with-my-template').gCalFlow({
    calid: 'tinkersoc.org_jgvajjns79sp34mvqntl81rub0@group.calendar.google.com',
    mode: 'upcoming',
    maxitem: 5,
    auto_scroll: false,
    date_formatter: function (date, allday_p) {
      function pad(n) { return n < 10 ? "0"+n : n; }
        return pad(date.getDate()) + "/" + pad(date.getMonth()+1) + "/" +  date.getFullYear().toString().substr(-2);
    }
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44295824-1', 'tinkersoc.org');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
    $(document).ready(function () {
    $('#shell img').plaxify()
    $.plax.enable()
    })
</script>
