<br />
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target=".panel-group">
    Posts by Year
    <div class="drop-down-button">
      <i class="glyphicon glyphicon-chevron-down glyphicon-chevron-up"></i>
    </div>
  </div>
  
  <div class="panel-group collapse" id="accordion">
    <br />
    {% for year in site.years %}   
    <div class="panel panel-default" style="margin: 2px;">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c{{ year.first.first.date | date: "%Y" }}">
	    {{ year.first.first.date | date: "%Y" }}
	  </a>
	</h4>
      </div>
      <div id="c{{ year.first.first.date | date: "%Y" }}" class="panel-collapse collapse">
	<div class="panel-body">
	  {% for month in year %}                                                                                       
	  <h3>{{ month.first.date | date: "%B" }}</h3>
	  {% for post in month %}                                                                      <a href="{{site.url}}{{ post.url}}"> {{ post.title }} </a><br />
	  {% endfor %}
	  
	  {%endfor%}     
	</div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>
