@import url(http://fonts.googleapis.com/css?family=Patua+One);

.err-fullscreenDiv {
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.err-center {
    position: absolute;
    text-align: center;
    font-size: 8em;
    font-family: 'Patua One', cursive;
    height: 50px;
    top: 35%;
    left: 0;
    right: 0;
    margin-top: -25px;
    z-index: 100;
}
.err-text {
    font-size: 2em;
    margin-top: 125px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101;
}

.post pre.terminal code {
  background-color: #333;
}

/******************************************************
 *
 * Some niceties
 *
 ******************************************************/

/* Correct sizing for html 5 video elements */
video {
  width: 100%    !important;
  height: auto   !important;
}

/* Container styles for youtube embeds */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Centered Image */
.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*******************************************************
 *
 *   BLOG INDEX PAGE
 *
 ******************************************************/

img {
    max-width: 100%;
}

.drop-down-button {
    float: right;
    display: inline-block;
}

/* Blog post heading */
.blog-post-index h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, serif;
}

.blog-post-index img {
    padding-top: 10px;
}

.blog-heading {
    text-align: center;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 30px;
}

.blog-heading a{
	color: #111111;
	text-align: center;
	font-style: italic;
	padding: 0px 16px;
	margin: 0px;
}

/* The date above the blog post */
.blog-sep {
    text-align: center;
    font-family: Georgia, serif;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* Blog post exert style */
.blog-post-index {
    font-size: 1.15em;
    line-height: 1.22381em;
    color: #111111;
    font-family: Georgia, serif;
    padding-left: 1em;
    padding-right: 1em;
}

.blog-post-index img {
    max-width: 100%;
}

.panel-title {
    background-color: #f5f5f5;
}

/** Error page styling */
html {
    margin: 0px;
    padding: 0px;
    height: 100%
}

body {
    position: relative;
    height: 100%
}

div#shell {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}

div#shell{
    z-index: 1;
    width: 100%;
}

img#wire {
    position: absolute;
    left: -20%;
    top: 25%;
    width: 1280px;
    z-index: 3;
}

img#solder {
    position: absolute;
    left: -10%;
    top: 0%;
    width: 1280px;
    z-index: 2;
}

img#iron {
    position: absolute;
    left: 40%;
    top: -40%;
    width: 1280px;
    z-index: 1;
}


@media (max-width: 400px) {
#container .item {
	width:100%;
	min-width:100%;
	margin: 10px;
	border-color:white;
}
}

@media (min-width: 400px) {
#container .item {
	width:240px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin:10px;
	border-color:black;
}
}

.gallery {
  margin: 0 auto;
}

/** Navbar styling  **/
.navbar-brand {
	position: relative;
	padding-left: 32px;
}

.navbar-brand img {
	position: absolute;
	left: 0px;
	top: 10px;
	height: 32px;
	display: block;
}

@media (max-width: 767px) {
.navbar-brand {
	margin-left: 10px;

}
}

@media screen {
.carousel-control.left {
	background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0.0001)));
	background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.2) 0),color-stop(rgba(0,0,0,0.0001) 100%));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.0001) 100%);
	background-image: linear-gradient(to right,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.0001) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
}
}

@media screen {
.carousel-control.right {
	background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.0001)),to(rgba(0,0,0,0.2)));
	background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,0.2) 100%));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.2) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
}
}
