---
layout: blog
meta-robots: "noodp, noydir, noindex, noarchive, follow"
---

<section id="home">
  <div class="posts">
  	{% if page.period["month"] == null %}
	<h1> Posts archive: {{page.period["year"]}} </h1><br>
	{% else %}
	<h1> Posts archive: {{ '01/' | append: page.period["month"] | append: '/1970' | date: "%B" }} - {{page.period["year"]}} </h1><br>
	{% endif %} 

	{% for post in page.period_posts %}	
	    <article class="row blog-post-index">
	      <div class="blog-sep">{{ post.date | date_to_string }}</div>
	      <h2 class="blog-heading"><a href="{{%site.url}}{{ post.url }}">{{ post.title }}</a></h2>
	      {{ post.excerpt }}
	    </article>
  	{% endfor %}
  </div>
</section>
