<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include imports_top.html %}
</head>
<body>

{% include header.html %}

<div class="container">
	{% row %}
	{% span 3 %}
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			{% include links.html %}
		</ul>
	</div><!--/.well -->
	{% endspan %}
	{% span 9 text-left %}
	{{ content }}
	{% endspan %}
	{% endrow %}


	{% include footer.html %}
</div>

</body>
</html>
