<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include imports_top.html %}
</head>
<body>

{% include header.html %}



<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">

	<div class="container">
		{% row %}
			{% span 6 %}
				{{ content }}
			{% endspan %}

			{% span 6 text-center %}

			<div id="myCarousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						{% picture  logo(2013)-transparent.png %}
					</div>
					<div class="item">

						{% picture  logo(2013)-transparent.png %}
						<div class="carousel-caption">
							<h4>First Thumbnail label</h4>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>
			&nbsp;
			{% endspan %}

			<!--<img src="images/tinkerlogo.png" class="span6">-->
		{% endrow %}
	</div>
</div>

<div class="container">
	{% include footer.html %}
</div>

</body>
</html>
