---
layout: default
---
<div class="container">                 
        {% row %}                       
        {% span 3 %}                    
                {% include links.html %}
                <!-- a -->              
        {% endspan %}                   
        {% span 6 col-md-offset-0 %}
	<article class="blog-post-index">
	    <h2 class="blog-heading">{{ page.title }}</h2>      
	    <p class="meta">{{ page.date | date_to_string }}</p>
            {{ content }}               
        </article>
        {% endspan %}                   
        {% endrow %}                    
</div>                                  
